{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>{{ name }}</h3>
    </div>
    <div class="col-sm-6 text-right" style="padding-top: 20px;">
      <a href="/myaccount/edit/" class="btn btn-warning text-right">Update Profile</a>
    </div>
  </div>
  <hr>
  <div class="panel panel-primary">
    <div class="panel-heading">Basic Info</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <span class="glyphicon glyphicon-home"></span> <b>Branch</b> : {{ branch.name }}
        </div>
        <div class="col-sm-6">
          <span class="glyphicon glyphicon-ok"></span> <b>Year</b> : {{ year }}
        </div>
        <br>
        <br>
        <div class="col-sm-6">
          <span class="glyphicon glyphicon-earphone"></span> 
          <b>Contact No.</b> : {{ contact_number }}
        </div>

        <div class="col-sm-6">
          <span class="glyphicon glyphicon-link"></span> 
          <b>Social Links</b> : 
          <a href="{{ facebook_url }}"><i class="fa fa-facebook"></i></a> &nbsp;&nbsp;
          <a href="{{ linkedin_url }}"><i class="fa fa-linkedin"></i></a> &nbsp;&nbsp;
          <a href="{{ github_url }}"><i class="fa fa-github"></i></a> &nbsp;&nbsp;
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Skills</div>
    <div class="panel-body" style="font-size: 120%">

      {% for skill in skills.all %}
        <span class="label {% cycle 'label-success' 'label-warning' 'label-info' 'label-danger' 'label-primary' 'label-default' %}">{{ skill }}</span>
      {% endfor %}
    </div>
  </div>

</div>
<style>
.fa{
  font-size: 130%;
}
</style>
{% endblock %}